gerenciadorpagamentos-jaxb/META-INF/boleto1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="agenciaVO">
    <xs:sequence>
	<xs:element name="codigo" type="xs:int" minOccurs="0"/>
	<xs:element name="digitoVerificador" type="xs:string" minOccurs="0"/>
	</xs:sequence>    
  </xs:complexType>

  <xs:complexType name="contaBancariaVO">
    <xs:sequence>
      <xs:element name="agencia" type="agenciaVO" minOccurs="0"/>
      <xs:element name="carteira" type="xs:int" minOccurs="0"/>
      <xs:element name="codigoDeCompensacaoBACEN" type="xs:string" minOccurs="0"/>
      <xs:element name="digitoDaConta" type="xs:int" minOccurs="0"/>
      <xs:element name="numeroDaConta" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pessoaVO">
    <xs:sequence>
      <xs:element name="cadastroDePessoa" type="xs:string" minOccurs="0"/>
      <xs:element name="nome" type="xs:string" minOccurs="0"/>
      <xs:element name="enderecos" type="enderecoVO" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="boletoVO">
    <xs:sequence>
      <xs:element name="dataDeProcessamento" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="instrucao1" type="xs:string" minOccurs="0"/>
      <xs:element name="instrucao2" type="xs:string" minOccurs="0"/>
      <xs:element name="instrucao3" type="xs:string" minOccurs="0"/>
      <xs:element name="instrucao4" type="xs:string" minOccurs="0"/>
      <xs:element name="instrucao5" type="xs:string" minOccurs="0"/>
      <xs:element name="instrucao6" type="xs:string" minOccurs="0"/>
      <xs:element name="instrucao7" type="xs:string" minOccurs="0"/>
      <xs:element name="instrucao8" type="xs:string" minOccurs="0"/>
      <xs:element name="instrucaoAoSacado" type="xs:string" minOccurs="0"/>
      <xs:element name="localPagamento" type="xs:string" minOccurs="0"/>
      <xs:element name="textosExtras">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"/>
                  <xs:element name="value" minOccurs="0" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="titulo" type="tituloVO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tituloVO">
    <xs:sequence>
      <xs:element name="acrecimo" type="xs:decimal" minOccurs="0"/>
      <xs:element name="cedente" type="pessoaVO" minOccurs="0"/>
      <xs:element name="contaBancaria" type="contaBancariaVO" minOccurs="0"/>
      <xs:element name="dataDoDocumento" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="dataDoVencimento" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="deducao" type="xs:decimal" minOccurs="0"/>
      <xs:element name="desconto" type="xs:decimal" minOccurs="0"/>
      <xs:element name="digitoDoNossoNumero" type="xs:string" minOccurs="0"/>
      <xs:element name="mora" type="xs:decimal" minOccurs="0"/>
      <xs:element name="nossoNumero" type="xs:string" minOccurs="0"/>
      <xs:element name="numeroDoDocumento" type="xs:string" minOccurs="0"/>
      <xs:element name="sacado" type="pessoaVO" minOccurs="0"/>
      <xs:element name="sacadorAvalista" type="pessoaVO" minOccurs="0"/>
      <xs:element name="tipoDeDocumento" type="xs:int" minOccurs="0"/>
      <xs:element name="tipoDeMoeda" type="xs:int" minOccurs="0"/>
      <xs:element name="valor" type="xs:decimal" minOccurs="0"/>
      <xs:element name="valorCobrado" type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="enderecoVO">
    <xs:sequence>
      <xs:element name="bairro" type="xs:string" minOccurs="0"/>
      <xs:element name="cep" type="xs:string" minOccurs="0"/>
      <xs:element name="complemento" type="xs:string" minOccurs="0"/>
      <xs:element name="localidade" type="xs:string" minOccurs="0"/>
      <xs:element name="logradouro" type="xs:string" minOccurs="0"/>
      <xs:element name="numero" type="xs:string" minOccurs="0"/>
      <xs:element name="pais" type="xs:string" minOccurs="0"/>
      <xs:element name="uf" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

